<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <title>Document</title>

    <style>

    </style>
</head>
<body>
    <div id="app">
        <span>Paciente: </span><input type="text" v-model="paciente">
        <ul>
            <li v-for="p in lista">{{p.nome}}, {{p.idade}}</li>
        </ul>
    </div>

    <script>
        const vm = new Vue({ // vm = ViewModel
            el: '#app', // # para selecionar por id e . para selecionar por class
            data: {
                paciente: '',
                pacientes: [
                    {nome: 'Jorge Santana', idade: 32},
                    {nome: 'Julio Shiotani', idade: 29},
                    {nome: 'João da Silva', idade: 30},
                    {nome: 'Joaquina dos Santos', idade: 20},
                    {nome: 'Jurandir Pinto', idade: 12}
                ],
                lista: []
            },
            methods: {},
            computed: {},
            watch: {
                paciente(valorNovo){
                    this.lista = this.pacientes.filter(p => p.nome.match(valorNovo))
                }
            }
        })
    </script>
</body>
</html> 